.meditation-container {
  padding: 20px;
  padding-bottom: 120px;
  background: #111;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.pass-them-by,
.back-to-life {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5% 0% 5%;
  margin: 5% 0% 5% 0%;
}

.pass-them-by {
  border-right: 2px solid #f8f4ec;
}

.section-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.grid {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding-top: 20px;
  padding-bottom: 15px;
  border-top: 2px rgb(204, 191, 191) solid;
}

.card {
  background: #222;
  border-radius: 12px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 85px;
  object-fit: cover;
  border-radius: 8px;
}

.card p {
  margin-top: 5px;
  font-size: 0.65rem;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* _________tasks_________*/
.task-card {
  height: 80px;
  background: #1a1a1a;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 0.7rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px;
  transition: 0.1s;
}

.highlight {
  border: 2px solid #f8f4ec;
}

.random-btn {
  margin-top: 14px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  background: #ffaa33;
  color: black;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
}


/* ________audio player_______ */

.player-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 70px;
  background: rgba(20, 20, 20, 0.85);
  backdrop-filter: blur(12px);

  display: flex;
  align-items: center;
  padding: 10px 14px;

  border-top: 1px solid rgba(255,255,255,0.1);
}

.player-info {
  flex: 1;
}

.player-info p {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

.player-info button {
  background: none;
  color: white;
  font-size: 22px;
  margin-top: 4px;
  border: none;
  cursor: pointer;
}

.close-btn {
  background: none;
  border: none;
  color: #ccc;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px){
  .meditation-container {
    flex-direction: column;
    align-items: center;
  }
}